{% extends 'base.html.twig' %}

{% block title %}
    Usuarios|{{ parent() }}
{% endblock %}

{% block body %}
    {# <div class="container-fluid align-items-stretch"> #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <h4><strong>{{ message }}</strong></h4>
            </div>
        {% endfor %}

        {% for message in app.flashes('alert')%}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <h4><strong>{{ message }}</strong></h4>
            </div>
        {% endfor %}
        <div class="card card-primary card-outline">
            <h2 class="card-header font-weight-bold">Usuarios Registrados</h2>
            <div class="card-body p-2">
                <div class="d-flex bd-highlight mb-1">
                    <div class="p-1 bd-highlight">
                        <a class="btn btn-primary" href="{{ path('principal') }}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver
                        </a>
                        <a class="btn btn-success" href="{{ path('usuario_new') }}">
                            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
                        </a>
                    </div>
                    <div class="ml-auto p-1 bd-highlight">
                        <a class="btn btn-warning" href="">
                            Cantidad de Usuarios Registrados: <strong>{{ usuarios|length }}</strong>
                        </a>
                    </div>
                </div>
                <hr>
                <table class="table table-hover justify-content-center table-sm table-responsive-sm">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Tipo Documento</th>
                        <th>Número Documento</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Edad</th>
                        <th>Teléfono</th>
                        <th>Departamento</th>
                        {# <th>Usuario</th> #}
                        <th>Cargo</th>
                        <th>Centro de Conciliación</th>
                        {#<th>Password</th>
                        <th>Expedido</th>
                        <th>Domicilio</th>
                        <th>Genero</th>
                        <th>Grado_academico</th>
                        <th>Profesion</th>
                        <th>Correo</th>
                        <th>Foto</th>
                        <th>Fecha_creacion</th>#}
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            {#<td>{{ usuario.nombres|upper }}</td>#}
                            <td>{{ usuario.nombres }}</td>
                            <td>{{ usuario.primerApellido }}</td>
                            <td>{{ usuario.segundoApellido }}</td>
                            <td>{{ usuario.tipoDocumento }}</td>
                            <td>{{ usuario.numeroDocumento }}</td>
                            <td>{{ usuario.fechaNacimiento|date('d-m-Y')}}</td>
                            <td>edad</td>
                            <td>{{ usuario.telefono }}</td>
                            <td>{{ usuario.departamento|upper }}</td>
                            {# <td>{{ usuario.username }}</td> #}
                            {#<td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>#}
                            <td>
                                {% if usuario.roles == ["ROLE_PLATAFORMA"] %}
                                    <h6>Plataforma</h6>
                                {% elseif usuario.roles == ["ROLE_CONCILIADOR"]%}
                                    <h6>Conciliador(a)</h6>
                                {% elseif usuario.roles == ["ROLE_DIRECTOR"] %}
                                    <h6>Director(a) de Centro</h6>
                                {% elseif usuario.roles ==["ROLE_COMISION_TECNICA"] %}
                                    <h6>Comisión Técnica</h6>
                                {% else %}
                                    <h6>Administrador</h6>
                                {% endif %}
                            </td>
                            <td>{{ usuario.centro }}</td>
                            {#<td>{{ usuario.password }}</td>
                            <td>{{ usuario.expedido }}</td>
                            <td>{{ usuario.domicilio }}</td>
                            <td>{{ usuario.genero }}</td>
                            <td>{{ usuario.gradoAcademico }}</td>
                            <td>{{ usuario.profesion }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td>{{ usuario.foto }}</td>
                            <td>{{ usuario.fechaCreacion|date('d-m-Y H:i:s')}}</td>#}
                            <td>{{ usuario.activo ? 'Si' : 'No' }}</td>
                            {% if is_granted('ROLE_COMISION_TECNICA','ROLE_ADMIN') %}
                            <td>
                                <div class="text-center btn-group">
                                    <a class="btn btn-success btn-sm" href="{{ path('usuario_show', {'id': usuario.id}) }}">
                                        <i class="fa fa-eye" aria-hidden="true"></i>  Ver
                                    </a>
                                    <a class="btn btn-info btn-sm" href="{{ path('usuario_edit', {'id': usuario.id}) }}">
                                        <i class="fa fa-list" aria-hidden="true"></i> Editar
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="22">No se encontraron USUARIOS registrados</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <p>Mostrando de <strong>{{ desde }}</strong>
                hasta <strong>{{ next }}</strong> registros
                de <strong>{{ usuarios|length }}</strong> Usuarios Registrados</p>
                {% if previous >= 0 %}
                    <a class="btn btn-primary" href="{{ path('usuario_index', {offset:previous}) }}">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Anterior
                    </a>
                {% endif %}
                {% if next < usuarios|length %}
                    <a class="btn btn-primary" href="{{ path('usuario_index', {offset:next}) }}">
                        Siguiente <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {# </div> #}
{% endblock %}
