{% extends 'base.html.twig' %}

{% block title %}
    reporte|{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container container-sm">
        <div class="card card-success">
            <div class="card-header">
                <h2 class="card-title">Reportes Conciliatorios</h2>
            </div>
            <div class="card-body">
                <h3 class="text-blue">Selecciones los Datos a Buscar: </h3>
                <form method="POST" action="">
                    <div class="row">
                        <div class="col">
                            <p>Ingresar Nombre del Centro</p>
                            <input type="text" name="nombre">
                            <input type="submit" value="Buscar">
                        </div>
{#                        <div class="col">#}
{#                            <p>Ingresar Numero del Caso</p>#}
{#                            <input type="number" name="matricula">#}
{#                            <input type="submit" value="Buscar">#}
{#                        </div>#}
                    </div>
                </form>
            </div>
        </div>
        <div class="card card-outline">
            <table id="" class="table table-hover justify-content-center table-sm table-responsive-sm">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre del Centro</th>
                    <th>Matrícula</th>
                    <th>Fecha de Actualización</th>
                    <th>Tipo</th>
                    <th>Departamento</th>
                    <th>Teléfono/ Celular</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for centro in Centro %}
                    <tr>
                        <td>{{ centro.id }}</td>
                        <td>{{ centro.nombre }}</td>
                        <td>{{ centro.matricula }}</td>
                        <td>{{ centro.vigencia|date('d-m-Y') }}</td>
                        <td>{{ centro.tipo }}</td>
                        <td>{{ centro.departamento }}</td>
                        <td>{{ centro.telefono }}</td>
                        <td>
                            <div class="text-center btn-group-sm">
                                <div class="btn-group">
                                    <a class="btn btn-success btn-sm" href="{{ path('centro_detalle',{'id':centro.id}) }}">
                                        <i class="bi bi-eye-fill"></i> Ver
                                    </a>
                                    <a class="btn btn-info btn-sm" href="{{ path('centro_editar', {'id':centro.id}) }}">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>
                                    <a class="btn btn-warning btn-sm" href="{{ path('reporte_centro', {'id':centro.id}) }}">
                                        <i class="bi bi-pencil-square"></i> Reporte
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="22">No se encontraron registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
