{% extends 'base.html.twig' %}

{% block title %}
    Home Page|{{ parent() }}
{% endblock %}

{% block body %}
    {#
    <div class="card card-warning justify-content-center">
        <h2>Lista de Centros</h2>
        {% for centro in misCentros %}
            <h6>{{ centro }}</h6>
            <a class="btn" href="{{ path('mis_centros',{'id':centro.id}) }}">Ver</a>
        {% endfor %}
    </div>
    #}

    <!-- Small boxes (Stat box) -->
    <div class="row">
        {# Gestion de Casos Conciliatorios
        {% if is_granted('ROLE_DIRECTOR','ROLE_CONCILIADOR','ROLE_PLATAFORMA') %} #}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h2 class="font-weight-bold">CASOS CONCILIATORIOS</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion bi bi-inboxes-fill"></i>
                    </div>
                    <a href="{{ path('conciliacion_index') }}" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {# {% endif %} #}
        <!-- ./col -->

        {# Agenda de Conciliaciones
        {% if is_granted('ROLE_DIRECTOR','ROLE_CONCILIADOR','ROLE_PLATAFORMA') %} #}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h2 class="font-weight-bold">AGENDA DE CONCILIACIONES</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion bi bi-calendar3"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {# {% endif %} #}
        <!-- ./col -->

        {# Reportes Semestrales
        {% if is_granted('ROLE_SCA','ROLE_DIRECTOR','ROLE_CONCILIADOR') %}#}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h2 class="font-weight-bold">REPORTES SEMESTRALES</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion bi bi-bar-chart-line-fill"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {# {% endif %} #}
        <!-- ./col -->

        {# Gestion de Usuarios #}
        {% if is_granted('ROLE_SCA') %}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h2 class="font-weight-bold">GESTIÓN DE USUARIOS</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion bi bi-people-fill"></i>
                    </div>
                    <a href="{{ path('usuario_index') }}" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {% endif %}
        <!-- ./col -->

        {# Gestion de Centros #}
        {% if is_granted('ROLE_SCA') %}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h2 class="font-weight-bold">GESTIÓN DE CENTROS</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion bi bi-house-door-fill"></i>
                    </div>
                    <a href="{{ path('centro_index') }}" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {% endif %}
        <!-- ./col -->
    </div>

    <!-- MODAL -->
    {#
    <button class="btn btn-success" data-toggle="modal" data-target="#ventanaModal">
        Abrir ventana modal
    </button>
    #}

    <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--CABEZERA DEL MODAL -->
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloVentana">Titulo del Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- CUERPO DEL MODAL -->
                <div class="modal-body">
                    <p>Modal por defecto</p>
                    <div class="alert alert-success" role="alert">
                        <h5><strong>Tus datos se han guardado exitodamente</strong></h5>
                    </div>
                </div>
                <!-- PIE DEL MODAL -->
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-primary" >
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
