{% extends 'base.html.twig' %}

{% block title %}
    Home Page|{{ parent() }}
{% endblock %}

{% block body %}

    <!-- Small boxes (Stat box) -->
    <div class="row">
        {# Gestion de Casos Conciliatorios #}
        {#{% if is_granted('ROLE_DIRECTOR','ROLE_CONCILIADOR','ROLE_PLATAFORMA') %}#}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h2 class="font-weight-bold">CASOS CONCILIATORIOS</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion fa fa-inbox" aria-hidden="true"></i>
                    </div>
                    <a href="{{ path('conciliacion_index') }}" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {#{% endif %}#}

        {# Agenda de Conciliaciones #}
        {#
        {% if is_granted('ROLE_DIRECTOR','ROLE_CONCILIADOR','ROLE_PLATAFORMA') %}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h2 class="font-weight-bold">AGENDA DE CONCILIACIONES</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion bi bi-calendar3"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {% endif %}
        #}

        {# Reportes Semestrales #}
        {#{% if is_granted('ROLE_COMISION_TECNICA','ROLE_DIRECTOR','ROLE_CONCILIADOR') %}#}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h2 class="font-weight-bold">REPORTES SEMESTRALES</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <a href="{{ path('reporte_index') }}" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {#{% endif %}#}

        {# Gestion de Usuarios #}
        {% if is_granted('ROLE_COMISION_TECNICA','ROLE_ADMIN') %}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h2 class="font-weight-bold">GESTIÓN DE USUARIOS</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <i class="ion bi bi-people-fill"></i>
                    </div>
                    <a href="{{ path('usuario_index') }}" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {% endif %}

        {# Gestion de Centros #}
        {% if is_granted('ROLE_COMISION_TECNICA','ROLE_ADMIN') %}
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h2 class="font-weight-bold">GESTIÓN DE CENTROS</h2>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="ion fa fa-university" aria-hidden="true"></i>
                    </div>
                    <a href="{{ path('centro_index') }}" class="small-box-footer">
                        Ingresar <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="card card-body">
        <h2>Gráficos Estadísticos</h2>
        {# <h3><strong>Conciliaciones Efectuadas por Materias</strong></h3> #}
        <canvas id="casos" width="400" height="150"></canvas>
    </div>

    <script>
        let casos = document.querySelector("#casos").getContext('2d');
        let casosGrafico = new Chart(casos,{
            type: "bar",
            data: {
                labels: {{ centroCasos|raw }},
                datasets: [{
                    label: 'Conciliaciones efectudas por Centros',
                    data: {{ centroCantidades|raw }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(255, 99, 132, 0.5)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth:1
                }]
            },
            options:{
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>


{#    <div class="card card-body">#}
{#        <h2>Cantidad de Casos</h2>#}
{#        #}{# <h3><strong>Conciliaciones Efectuadas por Materias</strong></h3> #}
{#        <canvas id="casosMateria" width="400" height="150"></canvas>#}
{#    </div>#}

{#    <script>#}
{#        let casos = document.querySelector("#casosMateria").getContext('2d');#}
{#        let casosGrafico = new Chart(casos,{#}
{#            type: "bar",#}
{#            data: {#}
{#                labels: {{ casosMateria|raw }},#}
{#                datasets: [{#}
{#                    label: 'Conciliaciones efectudas por materias',#}
{#                    data: {{ centroCantidades|raw }},#}
{#                    backgroundColor: [#}
{#                        'rgba(255, 99, 132, 0.5)',#}
{#                        'rgba(54, 162, 235, 0.5)',#}
{#                        'rgba(255, 206, 86, 0.5)',#}
{#                        'rgba(75, 192, 192, 0.5)',#}
{#                        'rgba(153, 102, 255, 0.5)',#}
{#                        'rgba(255, 159, 64, 0.5)',#}
{#                        'rgba(255, 99, 132, 0.5)',#}
{#                        'rgba(54, 162, 235, 0.5)',#}
{#                        'rgba(255, 206, 86, 0.5)',#}
{#                        'rgba(255, 99, 132, 0.5)',#}
{#                    ],#}
{#                    borderColor: [#}
{#                        'rgba(255, 99, 132, 1)',#}
{#                        'rgba(54, 162, 235, 1)',#}
{#                        'rgba(255, 206, 86, 1)',#}
{#                        'rgba(75, 192, 192, 1)',#}
{#                        'rgba(153, 102, 255, 1)',#}
{#                        'rgba(255, 159, 64, 1)',#}
{#                        'rgba(255, 99, 132, 0.5)',#}
{#                        'rgba(54, 162, 235, 0.5)',#}
{#                        'rgba(255, 206, 86, 0.5)',#}
{#                        'rgba(255, 99, 132, 1)',#}
{#                    ],#}
{#                    borderWidth:1#}
{#                }]#}
{#            },#}
{#            options:{#}
{#                scales:{#}
{#                    yAxes:[{#}
{#                        ticks:{#}
{#                            beginAtZero:true#}
{#                        }#}
{#                    }]#}
{#                }#}
{#            }#}
{#        });#}
{#    </script>#}






    <!-- MODAL -->
    {#
    <button class="btn btn-success" data-toggle="modal" data-target="#ventanaModal">
        Abrir ventana modal
    </button>


    <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--CABEZERA DEL MODAL -->
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloVentana">Titulo del Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- CUERPO DEL MODAL -->
                <div class="modal-body">
                    <p>Modal por defecto</p>
                    <div class="alert alert-success" role="alert">
                        <h5><strong>Tus datos se han guardado exitodamente</strong></h5>
                    </div>
                </div>
                <!-- PIE DEL MODAL -->
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-primary" >
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    #}
{% endblock %}
