{% extends'base.html.twig' %}

{% block title %}
    Nueva Conciliación|{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-sm justify-content-center">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">CASO CONCILIATORIO</h3>
                {#
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widgett="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                #}
            </div>
            <div class="card-body">
                {{ form_start(formulario) }}
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.idioma) }}
                            {{ form_row(formulario.materia) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.tipo_conciliacion) }}
                            {{ form_row(formulario.documento) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.descripcion) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.centro) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.usuario) }}
                        </div>
                    </div>
                    <button class="btn btn-success">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> Guardar
                    </button>
                    <a class="btn btn-primary" href="{{ path('conciliacion_index') }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver
                    </a>
                    <hr>
                    {# RECHAZAR CASO CONCILIATORIO #}
                    <div class="card card-danger card-outline">
                        <h4 class="card-title"><strong>¿Se rechaza el Caso?</strong></h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formulario.fecha_rechazo) }}
                                </div>
                                <div class="col">
                                    {{ form_row(formulario.motivo_rechazo) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {# AGENDAR INVITACION #}
                    <div class="card card-warning card-outline">
                        <h4 class="card-title"><strong>Invitación de Audiencia Conciliatoria</strong></h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formulario.fecha_audiencia) }}
                                </div>
                                <div class="col">
                                    {{ form_row(formulario.hora_audiencia) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {# AUDIENCIA CONCILIATORIA #}
                    <div class="card card-blue card-outline">
                        <h4 class="card-title"><strong>Audiencia Conciliatoria</strong></h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formulario.detalle_asistencia) }}
                                </div>
                                <div class="col">
                                    {{ form_row(formulario.fecha_asistencia) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(formulario) }}
            </div>
        </div>
    </div>
{% endblock %}