{% extends 'base.html.twig' %}

{% block title %}
    Datos Centro|{{ parent() }}
{% endblock %}

{% block body %}
    {# <div class="container-sm justify-content-center"> #}
        <div class="card card-success card-outline w-75"> {# style="width: 50rem" #}
            <div class="card-header">
                <h1 class="card-title">Datos del Centro: <strong>{{ centro.nombre }}</strong></h1>
                <div class="card-tools text-center btn-group">
                    <a class="btn btn-primary mr-2" href="{{ path('centro_index') }}">
                        <i class="bi bi-arrow-left-square"></i> Volver
                    </a>
                    <a class="btn btn-info mr-2" href="{{ path('centro_editar', {'id': centro.id}) }}">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    {{ include('centro/eliminar.html.twig') }}
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-striped table-sm">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ centro.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre del Centro</th>
                        <td>{{ centro.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Matricula</th>
                        <td>{{ centro.matricula }}</td>
                    </tr>
                    <tr>
                        <th>Resolución</th>
                        <td>{{ centro.resolucion }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Vigencia</th>
                        <td>{{ centro.vigencia|date('d-m-Y')}}</td>
                    </tr>
                    <tr>
                        <th>Tipo de Centro</th>
                        <td>{{ centro.tipo }}</td>
                    </tr>
                    <tr>
                        <th>Nombre del Representante Legal</th>
                        <td>{{ centro.representante }}</td>
                    </tr>
                    <tr>
                        <th>Cargo del Representante Legal</th>
                        <td>{{ centro.cargoRepresentante }}</td>
                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td>{{ centro.direccion }}</td>
                    </tr>
                    <tr>
                        <th>Zona</th>
                        <td>{{ centro.zona }}</td>
                    </tr>
                    <tr>
                        <th>Departamento</th>
                        <td>{{ centro.departamento }}</td>
                    </tr>
                    <tr>
                        <th>Teléfono o Celular</th>
                        <td>{{ centro.telefono }}</td>
                    </tr>
                    <tr>
                        <th>Correo Electronico</th>
                        <td>{{ centro.correo }}</td>
                    </tr>
                    <tr>
                        <th>Número de Fax</th>
                        <td>{{ centro.fax }}</td>
                    </tr>
                    <tr>
                        <th>Documentación de Respaldo</th>
                        <td><a href="{{ asset('uploads/archivo/' ~ centro.documento) }}">Ver Documento</a></td>

                    </tr>
                    <tr>
                        <th>Centro Activo</th>
                        <td>{{ centro.activo ? 'si' : 'No' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {# </div> #}
{% endblock %}