{% extends 'base.html.twig' %}

{% block title %}
    Editar Centro|{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h2 class="card-title">Editar datos del Centro: <strong>{{ centro.nombre }}</strong></h2>
                <div class="card-tools text-center btn-group">
                    {{ include('centro/eliminar.html.twig') }}
                    <a class="btn btn-primary ml-2" href="{{ path('centro_index') }}">
                        <i class="bi bi-arrow-left-square"></i> Volver
                    </a>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario) }}
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.nombre) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.matricula) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.resolucion) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.vigencia) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.tipo) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.representante) }}
                            {{ form_row(formulario.departamento) }}
                            {{ form_row(formulario.direccion) }}
                            {{ form_row(formulario.telefono) }}
                            {{ form_row(formulario.correo) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.cargo_representante) }}
                            {{ form_row(formulario.ciudad) }}
                            {{ form_row(formulario.zona) }}
                            {{ form_row(formulario.fax) }}
                            {{ form_row(formulario.documento) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.activo) }}
                        </div>
                    </div>
                    <button class="btn btn-success">
                        <i class="bi bi-bookmark-check"></i> Actualizar
                    </button>
                {{ form_end(formulario) }}
            </div>
        </div>
    </div>
{% endblock %}