{% extends 'base.html.twig' %}

{% block title %}
    Centros|{{ parent() }}
{% endblock %}

{% block body %}
    {# <div class="container align-items-stretch"> #}
        <div class="card card-primary card-outline">
            <h2 class="card-header font-weight-bold">Centros Registrados</h2>
            <div class="card-body p-2">
                <div class="d-flex bd-highlight mb-1">
                    <div class="p-1 bd-highlight">
                        <a class="btn btn-primary" href="{{ path('principal') }}">
                            <i class="bi bi-arrow-left-square"></i>
                            Volver
                        </a>
                        <a class="btn btn-success" href="{{ path('centro_nuevo') }}">
                            <i class="bi bi-plus-square"></i>
                            Nuevo
                        </a>
                    </div>
                    <div class="ml-auto p-1 bd-highlight">
                        <a class="btn btn-warning">
                            Cantidad de Centros Registrados:
                        </a>
                    </div>
                </div>
                <hr>

                <table id="" class="table table-hover justify-content-center table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Matrícula</th>
                            <th>Fecha de Actualización</th>
                            <th>Tipo</th>
                            <th>Departamento</th>
                            <th>Teléfono/ Celular</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for centro in centros %}
                        <tr>
                            <td>{{ centro.id }}</td>
                            <td>{{ centro.nombre }}</td>
                            <td>{{ centro.matricula }}</td>
                            <td>{{ centro.vigencia|date('d-m-Y') }}</td>
                            <td>{{ centro.tipo }}</td>
                            <td>{{ centro.departamento }}</td>
                            <td>{{ centro.telefono }}</td>
                            <td>
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-success btn-sm" href="{{ path('centro_detalle',{'id':centro.id}) }}">
                                            <i class="bi bi-eye-fill"></i>
                                            Ver
                                        </a>
                                        <a class="btn btn-info btn-sm" href="">
                                            <i class="bi bi-pencil-square"></i>
                                            Editar
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="22">No se encontraron registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Footer del CARD- Paginacion de los CEntros
            </div>
        </div>
    {# </div> #}
    {#
    <!-- MODAL -->
    <button id="btnNuevo" class="btn btn-success" type="button" data-toggle="modal" data-target="#nuevoCentro">
        Abrir ventana modal
    </button>

    <div class="modal fade" id="nuevoCentro" tabindex="-1" role="dialog" aria-labelledby="añadirRegistro" aria-hidden="true">
        {{ form_start(form) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--CABEZERA DEL MODAL -->
                <div class="modal-header">
                    <h4 class="modal-title" id="añadirRegistro">Nuevo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- CUERPO DEL MODAL -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre">Nombre del Centro</label>
                        {{ form_widget(form.nombre,{'attr':{'class':'form-control'}} ) }}



                        {{ form_widget(formulario) }}
                        <button class="btn btn-success">
                            <i class="bi bi-bookmark-check"></i>
                            Guardar
                        </button>


                    </div>
                    <div class="form-group">
                        <label for="direccion">Direccion del Centro</label>
                        <input type="text" id="direccion" placeholder="Escribir direccion" class="form-control">
                    </div>
                </div>
                <!-- PIE DEL MODAL -->
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    {{ form_row(form.submit,{'attr':{'class':'btn btn-success'}} ) }}

                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <script>
        $("btnNuevo").click(function (){
            $(".modal-header").css("background-color", "#0000FF");
            S
            $(".modal-title").text("Nuevo Centro")
            $("modalCRUD").modal("show");
        })
    </script>
    #}

{% endblock %}
