{% extends 'base.html.twig' %}

{% block title %}
    Centros|{{ parent() }}
{% endblock %}

{% block body %}
    {# <div class="container align-items-stretch">#}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <h4><strong>{{ message }}</strong></h4>
            </div>
        {% endfor %}

        {% for message in app.flashes('alert') %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <h4><strong>{{ message }}</strong></h4>
            </div>
        {% endfor %}
        <div class="card card-primary card-outline">
            <h2 class="card-header font-weight-bold">Centros Registrados</h2>
            <div class="card-body p-2">
                <div class="d-flex bd-highlight mb-1">
                    <div class="p-1 bd-highlight">
                        <a class="btn btn-primary" href="{{ path('principal') }}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver
                        </a>
                        <a class="btn btn-success" href="{{ path('centro_nuevo') }}">
                            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
                        </a>
                    </div>
                    <div class="ml-auto p-1 bd-highlight">
                        <a class="btn btn-warning">
                            Cantidad de Centros Registrados: <strong>{{ centros|length }}</strong>
                        </a>
                    </div>
                </div>

                <table id="" class="table table-hover justify-content-center table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre del Centro</th>
                            <th>Matrícula</th>
                            <th>Fecha de Actualización</th>
                            <th>Tipo</th>
                            <th>Departamento</th>
                            <th>Teléfono/ Celular</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for centro in centros %}
                        <tr>
                            <td>{{ centro.id }}</td>
                            <td>{{ centro.nombre }}</td>
                            <td>{{ centro.matricula }}</td>
                            <td>{{ centro.vigencia|date('d-m-Y') }}</td>
                            <td>{{ centro.tipo }}</td>
                            <td>{{ centro.departamento }}</td>
                            <td>{{ centro.telefono }}</td>
                            <td>
                                <div class="btn-group-sm">
                                    <div class="btn-group">
                                        <a class="btn btn-success btn-sm" href="{{ path('centro_detalle',{'id':centro.id}) }}">
                                            <i class="fa fa-eye" aria-hidden="true"></i> Ver
                                        </a>
                                        <a class="btn btn-info btn-sm" href="{{ path('centro_editar', {'id':centro.id}) }}">
                                            <i class="fa fa-list" aria-hidden="true"></i> Editar
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="22">No se encontraron registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer align-items-center">
                <p>Mostrando de <strong>{{ desde }}</strong>
                    hasta <strong>{{ next }}</strong> registros
                    de <strong>{{ centros|length }}</strong> Centros Acreditados</p>
                {% if previous >= 0 %}
                    <a class="btn btn-primary" href="{{ path('centro_index', {offset:previous}) }}" >
                        <i class="bi bi-arrow-left-short"></i> Anterior
                    </a>
                {% endif %}
                {% if next < centros|length %}
                    <a class="btn btn-primary" href="{{ path('centro_index', {offset:next}) }}">
                        Siguiente <i class="bi bi-arrow-right-short"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {# </div> #}
{% endblock %}
