{% extends 'base.html.twig' %}

{% block title %}
    Nuevo Centro|{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container justify-content-center">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-plus" aria-hidden="true"></i> ACREDITAR NUEVO CENTRO
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widgett="remove">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario) }}
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.nombre) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.matricula) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.resolucion) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.vigencia) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.tipo) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.representante) }}
                            {{ form_row(formulario.departamento) }}
                            {{ form_row(formulario.direccion) }}
                            {{ form_row(formulario.telefono) }}
                            {{ form_row(formulario.correo) }}
                        </div>
                        <div class="col">
                            {{ form_row(formulario.cargo_representante) }}
                            {{ form_row(formulario.ciudad) }}
                            {{ form_row(formulario.zona) }}
                            {{ form_row(formulario.fax) }}
                            {{ form_row(formulario.documento) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(formulario.activo) }}
                        </div>
                    </div>
                    {# {{ form_widget(formulario) }} #}
                    <button class="btn btn-success">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> Guardar
                    </button>
                    <a class="btn btn-primary" href="{{ path('centro_index') }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver
                    </a>
                {{ form_end(formulario) }}
            </div>
        </div>
    </div>
{% endblock %}